<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/images/ABB_logo.svg" width="60" height="30" alt="">
    IoT-AR Suite</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Editor</a>
      <a class="nav-item nav-link" href="#">Data Source</a>
      <a class="nav-item nav-link" href="#">Documentation</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://new.abb.com" target="_blank">
        <i class="fa fa-home"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/abbgroupnews" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://facebook.com/abb" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</nav>
